<a href="https://colab.research.google.com/github/DSamodra/playGround/blob/master/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tugas DTI Classification**

Buatlah model klasifikasi menggunakan data bank-marketing.csv dari Kaggle. Minimal menggunakan 2 algoritma dan bandingkan performa kedua algoritma tersebut.

pada studi kasus ini saya menggunakan 2 algoritma yaitu decision tree dan naive bayes, yang kemudian dibandingkan performanya dengan confusion matrix

In [7]:
#import pandas, other tools and data
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/DSamodra/playGround/master/data/bank.csv')
df.head()

   age         job  marital  education  ... pdays  previous poutcome deposit
0   59      admin.  married  secondary  ...    -1         0  unknown     yes
1   56      admin.  married  secondary  ...    -1         0  unknown     yes
2   41  technician  married  secondary  ...    -1         0  unknown     yes
3   55    services  married  secondary  ...    -1         0  unknown     yes
4   54      admin.  married   tertiary  ...    -1         0  unknown     yes

[5 rows x 17 columns]

In [8]:
#show attribut on data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [9]:
#show statistic on data 
df.describe().transpose()

            count         mean          std  ...    50%      75%      max
age       11162.0    41.231948    11.913369  ...   39.0    49.00     95.0
balance   11162.0  1528.538524  3225.413326  ...  550.0  1708.00  81204.0
day       11162.0    15.658036     8.420740  ...   15.0    22.00     31.0
duration  11162.0   371.993818   347.128386  ...  255.0   496.00   3881.0
campaign  11162.0     2.508421     2.722077  ...    2.0     3.00     63.0
pdays     11162.0    51.330407   108.758282  ...   -1.0    20.75    854.0
previous  11162.0     0.832557     2.292007  ...    0.0     1.00     58.0

[7 rows x 8 columns]

In [10]:
#preprocess data
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [15]:
#Encode categorical Data
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)

df_encoded = pd.DataFrame(encoder.fit_transform(df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'deposit']]))
df_encoded.columns = encoder.get_feature_names(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'deposit'])

df.drop(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'deposit'] ,axis=1, inplace=True)
df_encoded = pd.concat([df, df_encoded], axis = 1)

df_encoded

       age  balance  day  ...  poutcome_unknown  deposit_no  deposit_yes
0       59     2343    5  ...               1.0         0.0          1.0
1       56       45    5  ...               1.0         0.0          1.0
2       41     1270    5  ...               1.0         0.0          1.0
3       55     2476    5  ...               1.0         0.0          1.0
4       54      184    5  ...               1.0         0.0          1.0
...    ...      ...  ...  ...               ...         ...          ...
11157   33        1   20  ...               1.0         1.0          0.0
11158   39      733   16  ...               1.0         1.0          0.0
11159   32       29   19  ...               1.0         1.0          0.0
11160   43        0    8  ...               0.0         1.0          0.0
11161   34        0    9  ...               1.0         1.0          0.0

[11162 rows x 53 columns]

In [23]:
#select feature
feature = df_encoded

In [22]:
#select target
target = df_encoded['duration']
target

0        1042
1        1467
2        1389
3         579
4         673
         ...
11157     257
11158      83
11159     156
11160       9
11161     628
Name: duration, Length: 11162, dtype: int64

In [25]:
#set training and testing data
from sklearn.model_selection import train_test_split, cross_val_score
x_train, x_test, y_train, y_test  = train_test_split(feature , target, shuffle = True, test_size=0.3, random_state=1)

# Show the Training and Testing Data
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

#show tables
x_test

(7813, 53)
(3349, 53)
(7813,)
(3349,)

      age  balance  day  ...  poutcome_unknown  deposit_no  deposit_yes
8422   31      554    5  ...               1.0         1.0          0.0
9226   43      514   20  ...               1.0         1.0          0.0
8162   26      277   14  ...               1.0         1.0          0.0
4337   39       91    3  ...               0.0         0.0          1.0
2438   40        0    6  ...               0.0         0.0          1.0
...   ...      ...  ...  ...               ...         ...          ...
5642   36      561    9  ...               1.0         1.0          0.0
2698   50      810   15  ...               0.0         0.0          1.0
9515   35      451   17  ...               1.0         1.0          0.0
2651   47     3033    8  ...               1.0         0.0          1.0
6891   42        0   19  ...               1.0         1.0          0.0

[3349 rows x 53 columns]

## ***Decision Tree***
A decision tree is a flowchart-like tree structure where an internal node represents feature(or attribute), the branch represents a decision rule, and each leaf node represents the outcome. The topmost node in a decision tree is known as the root node. It learns to partition on the basis of the attribute value. It partitions the tree in recursively manner call recursive partitioning. This flowchart-like structure helps you in decision making.

In [27]:
# Import Module
from sklearn import tree

# Modeling Decision Tree
dtc = tree.DecisionTreeClassifier(min_impurity_decrease=0.01)
dtc.fit(x_train, y_train)

# Predict to Test Data 
y_pred_dtc = dtc.predict(x_test)